body{
    background-color: #323232;
    
    h1 {
        margin: 0 0 12px 0;
        padding: 24px;
        text-align: center;
        color: white;
        background-color: #4db86b;
    }
    svg {
        height: 1.5em;
        width: 1.5em;
    }
    
    .cardInformation{
        display: grid;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        
        
        .texto{
            
            width: 90vw;
            color: #323232;
            padding: 12px;
            margin: 16px;
            background-color: whitesmoke;
            border-radius: 15px;
            cursor: pointer;
            .titleText {
                color: whitesmoke;
                background-color: #4db86b;
                padding: 12px;
                display: inline-flex;
                align-items: center;
                border-radius: 15px;
                margin-top: 4px;
                /* margin: 0px; */
                
            }
        }
        
    }
    .cardInformation:hover{
        .texto{
            background-color: #4db86b;
            transition:0.75s;
            scale: 1.05;
            color : whitesmoke;
            .titleText{
                background-color: #323232;
                color: whitesmoke;
                transition: 0.9s;
            }
        }
    }
    .cardInformation:hover > .cardInformation:not(:hover) {
        
        transform: scale(0.95);
        transition: 0.75s;
    }
}

    .textoSecundario{
        text-align: right;}
   
li{
    list-style: none;
    padding: 0;
    margin: 0;
}