a{
  text-decoration: none;
}
.welcomePage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition: 2s;
}
.welcomeText{
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 8px;
    padding: 4px;
    text-align: center;
    
}
.welcomeCard {
  background-color: #4db86b;
  border-radius: 25px;
  
}
.formContainer {
  width: 320px;
  border-radius: 0.75rem;
  background-color: whitesmoke;
  padding: 2rem;
  color: #4db86b;
  display: block;
  margin: 24px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  background-color: #4db86b;
  border-radius: 10px;
  margin: 16px;
  padding: 4px;
  line-height: 2rem;
  font-weight: 700;
  color: whitesmoke;
}
.subTitle {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(77, 184, 107, 0.5);
  padding: 0.75rem;
  text-align: center;
  color: whitesmoke;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
}
.sign:hover {
  background-color: rgba(77, 184, 107, 0.8);
  transition: 0.1s;
  transform: scale(1.05, 1.05);
}
